/* Body styles */
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
  
/* Header styles */
.header {
  font-family: Oswald, sans-serif;
  background-color: #ff5639;
  color: #fff;
  padding: 10px 8.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

.header h1 a:hover { /* Pseudoclass */
  color: #222;
}

.header .login {
  font-size: 1em;
  color: #fff;
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
}

.header .login:hover {
  background-color: #fff;
  color: #ff5639;
}

/* Navigation styles */
.navbar {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  font-size: 1em;
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover { /* Pseudoclass */
  color: #ff5639;
}

/* Main content styles */
.main-content {
  padding: 20px;
}

.main-content p a {
  color: #222;
  text-decoration: underline;
}

.main-content p a:hover {
  color: #ff5639;
}

/* Footer styles */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px;
}

*::selection {  /* Pseudoelement */
  color: #fff;
  background: #ff5639;
}
