body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  font-family: Oswald, sans-serif;
  background-color: #ff5639;
  color: #fff;
  padding: 10px 8.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 a {
  color: #fff;
  text-decoration: none;
}

.header h1 a:hover { /* Pseudoclass */
  color: #222;
}

.header .login {
  font-size: 1em;
  color: #fff;
  width: 150px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 15px;
}

.header .login:hover {
  background-color: #fff;
  color: #ff5639;
}

/* Navigation styles */
.navbar {
  background-color: #222;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover { /* Pseudoclass */
  color: #ff5639;
}

.title {
  color: #222;
  text-align: center;
}

.container {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: left;
}

.container img {
  width: 300px;
  height: auto;
  float: left;
  margin-right: 20px;
}

.movie-details {
  flex-grow: 1;
}

.movie-details h2 {
  margin-top: 0;
}

.movie-details p {
  margin: 10px 0;
}

.trailer {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.review {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  
}

.review .userinfo {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
}

.review img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.review form {
  margin-right: 10px;
}

.review textarea {
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  height: 150px;
  background: transparent;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px;
  color:#222;
  font-size: 0.9em;
  font-weight: 400;
}

.btn {
  width: 150px;
  height: 45px;
  background: #ff5639;
  border: none;
  outline: none;
  border-radius: 7px;
  color: #fff;
  font-weight: 600;
}



*::selection {  /* Pseudoelement */
  color: #fff;
  background: #ff5639;
}
